.sidebar {
	background-image: url("../../assets/images/sidebar-bg.jpg");

	.itemIconContainer {
		width: 100%;
		text-align: center;
		padding-top: .5rem;
		height: 48px;
		font-size: 1.4rem;

		&:hover {
			cursor: pointer;
			background-color: rgba(100, 100, 100, 0.3);
			border-radius: 10px;
			text-decoration: underline;

		}
	}
}