/* html {
  direction: rtl;
  scroll-behavior: smooth;
} */
@font-face {
  font-family: Cairo;
  src: url("./assets/fonts/Cairo/Cairo-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Cairo;
  src: url("./assets/fonts/Cairo/Cairo-Bold.ttf") format("truetype");
  font-weight: bold;
}
body {
  margin: 0;
  font-family: "Cairo", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  width: 100%;
  overflow: hidden;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#basic-navbar-nav {
  float: left;
}
.content {
  display: flex;
  justify-content: center;
  width: 100vw;
  max-height: calc(100vh - 54px);
}
.main {
  width: 100%;
}
