.subitems-menu{
    width: 110%;
    .item{
        cursor: pointer;
        display: flex;
        &:hover{
            background-color: rgba(222, 222, 222, 0.3);
            border-radius: 10px;
            text-decoration: underline;
        }
        .iconContainer{
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
            width: 25px !important;
            display: inline;
        }
    }
}